img{
  position: absolute;
width: 192px;
height: 180px;
left: 23px;
top: 16px;

background: url(abacaxi.png);
}
.menu{position: absolute;
width: 189px;
height: 31px;
left: 350px;
top: 93px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #26B523;
}
.menu1{position: absolute;
width: 202px;
height: 27px;
left: 618px;
top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #26B523;
}
.menu2{position: absolute;
width: 286px;
height: 30px;
left: 851px;
top: 105px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #26B523;
}
.menu3{position: absolute;
  width: 800px;
  height: 16px;
  left: 58px;
  top: 200px;
  
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  
  color: #26B523;}
  .sobre{position: relative;
    width: 881px;
    height: 761px;
    left: 59px;
    top: 400px;
    
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 40px;
    
    color: #26B523;}
    .luffy{position: absolute;
      width: 408px;
      height: 405px;
      left: 962px;
      top: 467px;
      
      background: url(luffy.png);}